{% extends "base.html" %}
{% block content %}
{% load bootstrap %}
<h1 class="text-center mb-2">Welcome to Magasinet Ekorren!</h1>
<div class="row">
    <div class="col-md-4 mx-auto mt-2 bg-grey border form-card">
        <div class="md-col-4 text-center
            <p><i class="fa-solid fa-circle-info"></i><p class="lead">Please start by filling in your contact and invoice information:<p></p>
        </div>
        
        <div class="form-container d-flex justify-content-center">
            <form method="POST" action="#">
                {% csrf_token %}
                {{ form | bootstrap}}
                <input type="submit" class="btn btn-primary mt-4" value="Next">
            </form>
        </div>
        
    </div>
</div>
{% endblock %}